@import '../../vars.css';

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 70px;
    background-color: rgba(12, 12, 12, 0.6);
    position: relative;
    border-radius: 15px;
    padding: 10px;
    z-index: 1;
    margin-left: 5%;
    margin-right: 5%;
}
.title{
    margin-top: 30px;
    color: var(--color-text);
    font-size: 50px;
}
.subtitle{
    color: var(--color-text);
    font-size: 20px;
}
.main{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
}
.projectContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem;
}
.workFilters{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.filterItems{
    background-color: var(--color-button);

    padding: 10px 30px;
    border-radius: 7px;
}
.active{
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 7px;
}