@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin-top: 6vh; /* Adjust margin top for responsiveness */
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Adjust alignment for responsiveness */
  text-align: center; /* Adjust text alignment for responsiveness */
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 4vw; /* Adjust font size for responsiveness */
  font-weight: 900;
  margin-bottom: 2.5vh; /* Adjust margin bottom for responsiveness */
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 110%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 1.9vw; /* Adjust font size for responsiveness */
  font-family: var(--font-roboto);
  margin-bottom: 5vh; /* Adjust margin bottom for responsiveness */
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 1.7vw; /* Adjust font size for responsiveness */
  font-weight: 600;
  padding: 2vh 3vw; /* Adjust padding for responsiveness */
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.heroImg {
  width: 40%; /* Adjust width for responsiveness */
  max-width: 400px; /* Set maximum width */
  box-shadow: 0 0 0 9px rgb(255 255 255 / 30%);
  order: 1;
  justify-self: center;
  animation: profile_animate 8s ease-in-out infinite 1s;
  z-index: 1;
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70% /60% 30% 70% 40%;
    transform: translate(0, 0px);
  }
  50% {
    border-radius: 30% 60% 70% 40% /50% 60% 30% 60%;
    transform: translate(0, 10px);
  }
  100% {
    border-radius: 60% 40% 30% 70% /60% 30% 70% 40%;
    transform: translate(0, -0px);
  }
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }
}
