/* @import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 15px;
}

.link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
} */
@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 10vh;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 5vw 10%;
  gap: 2vw;
}

.text h2 {
  font-size: 2.5vw;
  font-weight: 700;
  letter-spacing: 0.4vw;
}

.text p {
  font-size: 2.2vw;
  font-weight: 400;
  letter-spacing: 0.2vw;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none;
  gap: 1.5vw;
}

.link {
  display: flex;
  align-items: start;
  gap: 2vw;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1.9vw;
  font-weight: 400;
  letter-spacing: 0.15vw;
}

.link svg {
  width: 3vw; /* Adjust icon size for responsiveness */
  height: 3vw; /* Adjust icon size for responsiveness */
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 3vw;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }

  .link svg {
    width: 5vw; /* Adjust icon size for smaller screens */
    height: 5vw; /* Adjust icon size for smaller screens */
  }
}
