:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #878a8d;
    --color-button: white;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }